/.Rhistory
/npExact.Rcheck/*
/CorrTest 1_schlag.R
/npExact/R/.Rhistory
/npExact/man/.Rhistory
/programming_notes.org
/programming_notes.pdf
/programming_notes.tex
/npExact_testing.R
/ztest.pdf
/npExact_0.2.tar.gz
/testing_npExact.R
