/.Rhistory
/npExact.Rcheck/*
/CorrTest 1_schlag.R
/npExact/R/.Rhistory
/npExact/man/.Rhistory
/programming_notes.org
/programming_notes.pdf
/programming_notes.tex
/npExact_testing.R
/ztest.pdf
/testing_npExact.R
/npCorr.R
/npCorr.Rd
/npExact.out
/npExact/.Rd2pdf26179/
/npExact/R/#npVarianceSingle.R#
/npExact/.Rd2pdf12827/
.Rd2pdf*
/npExact/R/npStochinUnpaired_karl.R
/npExact/R/CodeProfiling.R
/npStochin_karl.R
/01_reproducableExample.R
/civil law.dat
/common.dat
