/.Rhistory
/npExact.Rcheck/*
/CorrTest 1_schlag.R
/npExact/R/.Rhistory
/npExact/man/.Rhistory
/programming_notes.org
/programming_notes.pdf
/programming_notes.tex
/npExact_testing.R
/ztest.pdf
/testing_npExact.R
/npCorr.R
/npCorr.Rd
/npExact.pdf
