## exportPattern("^[[:alpha:]]+")

export("npMeanPaired",
       "npMeanSingle",
       "npMeanUnpaired",
       "npVarianceSingle",
       ## "npCorr",
       "npStochinUnpaired")

S3method("print", "nphtest")
