## exportPattern("^[[:alpha:]]+")

export("npCorr",
       "npMeanPaired",
       "npMeanSingle",
       "npMeanUnpaired",
       "npVarianceSingle",
       "npStochin")

S3method("print", "nphtest")
